$bg-color: #404040;

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header, .footer {
  background-color: $bg-color;

  &__logo {
    align-items: center;
    display: flex;
    height: inherit;
    justify-content: space-between;
  }

  &__logo-img._opacity_low {
    opacity: 0.4;
  }
}

.header {
  height: 60px;
}

.footer {
  height: 70px;
  margin: auto 0 0;
}
