.questionnaire {

  background-color: #60985c;
  height: 30px;

  &__notify {
    align-items: center;
    color: #ffffff;
    display: flex;
    font-size: 14px;
    height: inherit;
    justify-content: flex-start;
    padding-right: 44px;
    position: relative;
  }

  &__notify-text {
    overflow: hidden;
    padding-right: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__notify-button {
    cursor: pointer;
    flex-shrink: 0;
    text-decoration: underline;
  }

  &__notify-close {
    cursor: pointer;
    height: 13px;
    position: absolute;
    right: 26px;
    top: 6px;
    width: 12px;

    &:hover {
      opacity: 1;
    }

    &:before, &:after {
      background-color: #ffffff;
      content: ' ';
      height: 16px;
      left: 15px;
      position: absolute;
      width: 2px;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  &__notify-close-button {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    position: absolute;
    right: 14px;
    width: 16px;
    z-index: 2;
  }
}
